<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.username %></h1>

    <p>You have been approved. Please add items to <%= link_to @restaurant.name, restaurant_dashboard_path(@restaurant.slug) %></p>

  </body>
</html>
