<h1>Become a New User</h1>

<p>Hungry?  Sign up today and order out from your favorite menus, all in one place!</p>

<p>Creating an account at Hunger Gains allows you to place an order from any of our delicious Hunger Gains restaurants, view your current and past orders, and even create your own restaurant!
</p>

<%= render 'form' %>

<%= link_to 'Back', users_path %>
