          <footer>
            <div class="container foot">
              <p>Hunger Gains.</p>
              <p> May the Odds be Ever in Your Flavor.</p>
              <p>Darryl Pequeen, Rolen Le, &amp; Lauren Spath Luhring</p>
            </div>
          </footer>
      </div>
<h2>Add a New Category</h2>
<%= form_for @category do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Create", {:class => "btn btn-success"} %>
  </p>
<% end %>
